body{
  font-family: 'Sawarabi Mincho','Kosugi', sans-serif;
  margin: 0;
}
h1{
  font-family: 'Kosugi';
      font-weight: 600;
}
header{
  background-color: white;
  position: fixed;
  z-index: 10;
  .header-left{
    padding: 35px 10px;
    display: inline-block;
    .logo{
      width: 320px;
    }
  }
  .header-right{
    float: right;
    display: inline-block;
    padding: 35px 10px;
    ul{
      padding-left: 0
    }
    li{
      font-size: 20px;
      line-height: 70px;
      list-style: none;
      display: inline-block;
      margin: 0 10px;
    }
  }
}
